article.project--content
  section.project--writeup(data-aos="fade-right" data-aos-once="true")
    h1(style="color:"+colour+";") !{pageHeader}
    h3 #{timeFrame}
    div !{copyText}
    p.tech Tools used: !{toolsUsed}
    a.back(style="fill:"+colour+";" href="javascript:history.back()")
      include ../img/icons/back-arrow.svg
  section.project--images(data-aos="fade-left" data-aos-once="true" style="background-color:"+customBg+";")
    div
      if customBg
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src=shownWork style='filter:none;')
      else
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src=shownWork)